body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;}

.header {
    background: #1f2937;
    color: white;
    padding: 20px 30px ;}
.header h1 {
    margin: 0;
    font-size: 24px;}
.header p {
    margin: 5px 0 0 0;
    font-size: 14px;
    opacity: 0.85;}

.nav {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #ffffff;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;}

.nav a{
    text-decoration: none;
    color: #374151;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    background: #f9f9f9;
    transition: all 0.2s;}
.nav a :hover{
    background: #2563eb;
    color: white;
    border-color: #1e40af;}
.nav a.active{
    background: #2563eb;
    color: white;
    border-color: #1e40af;}
.filters {
    display: flex;
    justify-content: center;
    gap:15px;
    margin: 20px 0;
}
.filters select,
.filters input{
    padding:8px 12px;
    front-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#solutionsContainer{
    background-color: #f4f6f8
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}
.solutions-card{
    background-color: white;
    border-radius:10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.solutions-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.solutions-card h3{
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    front-size: 18px;
}
.solutions-card p{
    margin: 8px 0;
}
#about {
    margin: 60px 20px;
    padding: 30px;
    background-color: #f4f6f8;
    border-radius:12px;
}
html{
    scroll-behavior: smooth;
}
.modal.hidden{
    display: none;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    background: white;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    front-size: 28px;
    cursor: pointer;
}
.modal-short-desc{
    front-style: italic;
    color: #666;
    border-bottom: 1px solid #eee;
    padding-botom: 10px;
}
.btn-link{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff
    color: white;
    text-decorations: none;
    border-radius: 5px
}















